{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/pages/assistant.css' %}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About Me | PDFCake.com</title>

    <meta name="description" content="Search & Summarize Documents with AI. Cut your reading time in half — upload a PDF to get answers, summaries, translations, and citations in seconds." />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" type="text/css" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fonts/materialdesignicons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/node-waves/node-waves.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/pages/cards-statistics.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/pages/cards-analytics.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/pages/app-chat.css' %}" />
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!-- ! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!-- ? Template customizer: To hide customizer set displayCustomizer value false in config.js. -->
    <script src="{% static 'assets/vendor/js/template-customizer.js' %}"></script>
    <!-- ? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
    <script src="{% static 'assets/js/config.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/toastr/toastr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/animate-css/animate.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/libs/rateyo/rateyo.css' %}" />
    <!-- Page CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/pages/page-faq.css' %}" />
    <style>
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .m-header {
        padding-left: 0 !important;
      }
      .framer-1mnwiur {
        flex: none;
        height: 81px;
        position: relative;
        width: 598px;
      }
      @media (max-width: 998px) {
        .framer-1mnwiur {
          height: 51px;
          width: 327px;
        }

        .how-card {
          align-self: center;
        }
      }
      .card-body {
        overflow-x: hidden;
      }
      .main-card {
        min-height: calc(100vh - 5rem);
      }
      .case-card {
        height: 20rem;
      }

      .how-card {
        height: 29rem;
      }

      .reveal {
        position: relative;
        opacity: 0;
      }
      .reveal.active {
        opacity: 1;
      }

      @keyframes fade-bottom {
        0% {
          transform: translateY(100px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes fade-left {
        0% {
          transform: translateX(-200px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-right {
        0% {
          transform: translateX(200px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      .active.fade-bottom {
        animation: fade-bottom 0.5s ease-in;
      }
      .active.fade-left {
        animation: fade-left 1s ease-in;
      }
      .active.fade-right {
        animation: fade-right 1s ease-in;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCG0SDQSBB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());



      gtag('config', 'G-ZCG0SDQSBB'); 
    </script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Layout container -->
        <div class="layout-page m-header">
          <!-- Navbar -->

          <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme px-3" id="layout-navbar">
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Logo -->
              <a href="/" class="auth-cover-brand align-items-center gap-2 d-flex" style="inset-block-start: auto;">
                <span class="app-brand-logo demo">
                  <span style="color: var(--bs-primary)">
                    <svg width="268" height="150" viewBox="0 0 38 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M30.0944 2.22569C29.0511 0.444187 26.7508 -0.172113 24.9566 0.849138C23.1623 1.87039 22.5536 4.14247 23.5969 5.92397L30.5368 17.7743C31.5801 19.5558 33.8804 20.1721 35.6746 19.1509C37.4689 18.1296 38.0776 15.8575 37.0343 14.076L30.0944 2.22569Z" fill="currentColor" />
                      <path d="M30.171 2.22569C29.1277 0.444187 26.8274 -0.172113 25.0332 0.849138C23.2389 1.87039 22.6302 4.14247 23.6735 5.92397L30.6134 17.7743C31.6567 19.5558 33.957 20.1721 35.7512 19.1509C37.5455 18.1296 38.1542 15.8575 37.1109 14.076L30.171 2.22569Z" fill="url(#paint0_linear_2989_100980)" fill-opacity="0.4" />
                      <path d="M22.9676 2.22569C24.0109 0.444187 26.3112 -0.172113 28.1054 0.849138C29.8996 1.87039 30.5084 4.14247 29.4651 5.92397L22.5251 17.7743C21.4818 19.5558 19.1816 20.1721 17.3873 19.1509C15.5931 18.1296 14.9843 15.8575 16.0276 14.076L22.9676 2.22569Z" fill="currentColor" />
                      <path d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z" fill="currentColor" />
                      <path d="M14.9558 2.22569C13.9125 0.444187 11.6122 -0.172113 9.818 0.849138C8.02377 1.87039 7.41502 4.14247 8.45833 5.92397L15.3983 17.7743C16.4416 19.5558 18.7418 20.1721 20.5361 19.1509C22.3303 18.1296 22.9391 15.8575 21.8958 14.076L14.9558 2.22569Z" fill="url(#paint1_linear_2989_100980)" fill-opacity="0.4" />
                      <path d="M7.82901 2.22569C8.87231 0.444187 11.1726 -0.172113 12.9668 0.849138C14.7611 1.87039 15.3698 4.14247 14.3265 5.92397L7.38656 17.7743C6.34325 19.5558 4.04298 20.1721 2.24875 19.1509C0.454514 18.1296 -0.154233 15.8575 0.88907 14.076L7.82901 2.22569Z" fill="currentColor" />
                      <defs>
                        <linearGradient id="paint0_linear_2989_100980" x1="5.36642" y1="0.849138" x2="10.532" y2="24.104" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_2989_100980" x1="5.19475" y1="0.849139" x2="10.3357" y2="24.1155" gradientUnits="userSpaceOnUse">
                          <stop offset="0" stop-opacity="1" />
                          <stop offset="1" stop-opacity="0" />
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                </span>
                <span class="app-brand-text demo text-heading fw-bold">PDF CAKE</span>
              </a>
              <!-- /Logo -->

              <ul class="navbar-nav flex-row align-items-center ms-auto d-none d-sm-block">
                <!-- Style Switcher -->
                <li class="nav-item me-2 me-xl-4">
                  <span class="nav-link btn btn-text-secondary rounded-pill btn-icon style-switcher-toggle hide-arrow"><i class="mdi mdi-24px"></i></span>
                </li>
                <!-- / Style Switcher -->

                <!-- User -->
                <li class="nav-item">
                  <a href="/documents" class="btn btn-primary">Get Started</a>
                </li>
                <!-- / User -->
              </ul>
            </div>

            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper d-none">
              <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search..." />
              <i class="mdi mdi-close search-toggler cursor-pointer"></i>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="padding-top: 0!important; padding-bottom: 0!important;">
              <div class="row gy-4">
                <!-- Main Card -->
                <div class="col-md-12">
                  <div class="card main-card d-flex flex-column justify-content-center">
                    <div class="d-flex align-items-end row">
                      <div class="col-md-12 order-2 order-md-1 d-flex justify-content-center">
                        <div class="card-body d-flex flex-column gap-4" style="text-align: center;max-width: 780px;">
                          <h4 class="card-title pb-xl-2 display-1 text-primary"><strong>ABOUT ME</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / Main Card -->
              </div>
            </div>

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div class="footer-container d-flex align-items-center justify-content-between p-3 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0" style="text-align: center;">
                    ©<script>
                       document.write(new Date().getFullYear())
                     </script>, <span class="d-none d-sm-inline">made with <span class="text-danger">❤️</span></span> by
                    <a href="/"  class="footer-link fw-medium">PDF CAKE</a>
                  </div>
                  <div class="d-flex gap-2 gap-sm-4 justify-content-center" style="text-align: center; flex-wrap: wrap;">
                    <a href="/pricing" class="footer-link">Pricing</a>
                    <a href="/about"  class="footer-link">About</a>
                    {% comment %} <a href="/blog" class="footer-link">Blog</a>
                    <a href="/faq"  class="footer-link">FAQ</a>
                    <a href="/contact"  class="footer-link">Contact</a>
                     {% endcomment %}
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>

    <!-- / Layout wrapper -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/node-waves/node-waves.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/toastr/toastr.js' %}"></script>
    <script>
      $(document).ready(function () {
        errorMessage = '{{error}}'
        warningMessage = '{{warning}}'
        successMessage = '{{success}}'
        infoMessage = '{{info}}'
      
        if (errorMessage.length > 0) alert('error', errorMessage)
        if (warningMessage.length > 0) alert('warning', warningMessage)
        if (successMessage.length > 0) alert('success', successMessage)
        if (infoMessage.length > 0) alert('info', infoMessage)
      
        var csrftoken = jQuery('[name=csrfmiddlewaretoken]').val()
      
        var INDEX = 0
        $('#chat-submit').click(function (e) {
          e.preventDefault()
          var msg = $('#chat-input').val()
          if (msg.trim() == '') {
            return false
          }
          generate_message(msg, 'self')
      
          $.ajax({
            type: 'POST',
            url: '/chat',
            headers: {
              'X-CSRFToken': csrftoken
            },
            data: { history: 'first chat', question: msg },
            success: function (res) {
              generate_message(res, 'user')
            }
          })
        })
      })

      
    </script>
    <script>
      let alert = (type, message) => {
        var shortCutFunction = type, // 'success', 'warning', 'error', 'info'
          isRtl = $('html').attr('dir') === 'rtl',
          msg = message,
          title = ''
        console.log('type', shortCutFunction)
      
        toastr.options = {
          maxOpened: 1,
          autoDismiss: true,
          closeButton: true,
          debug: false,
          newestOnTop: true,
          progressBar: true,
          positionClass: 'toast-top-right',
          preventDuplicates: false,
          onclick: null,
          rtl: isRtl,
          showDuration: 300,
          hideDuration: 1000,
          timeOut: 5000,
          extendedTimeOut: 1000,
          showEasing: 'swing',
          hideEasing: 'linear',
          showMethod: 'fadeIn',
          hideMethod: 'fadeOut'
        }
      
        var $toast = toastr[shortCutFunction](msg, title) // Wire up an event handler to a button in the toast, if it exists
        $toastlast = $toast
      }
    </script>
  </body>
</html>
